# docker-onload .travis.yml
#
# Builds docker-onload images on Travis CI
#
# https://travis-ci.com/neomantra/docker-onload
#
# Master will build with Docker tag:
#   neomantra/onload:<flavor>
#   neomantra/onloadzf:<flavor>
#
# Releases should be tagged in git as:
#   neomantra/onload:<onload-version>-<flavor>
#   neomantra/onloadzf:<onload-version>-<flavor>
#
# Travis Environment Variables:
#   DOCKER_ORG
#   DOCKER_USERNAME
#   DOCKER_PASSWORD
#

os: linux
dist: bionic
language: ruby

sudo: required

services:
  - docker

env:
  - DOCKER_PASSFILE=/tmp/docker.pass

before_script:
  - echo $DOCKER_PASSWORD > /tmp/docker.pass

jobs:
  include:
    - stage: build docker image for flavor centos7 (onload)
      script:
      - ./docker_build_and_push_flavor.sh centos7 centos7/Dockerfile

    - stage: build docker image for flavor centos7 (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh centos7 centos7/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor centos8 (onload)
      script:
      - ./docker_build_and_push_flavor.sh centos8 centos8/Dockerfile

    - stage: build docker image for flavor centos8 (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh centos8 centos8/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor stretch (onload)
      script:
      - ./docker_build_and_push_flavor.sh stretch stretch/Dockerfile

    - stage: build docker image for flavor stretch (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh stretch stretch/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor buster (onload)
      script:
      - ./docker_build_and_push_flavor.sh buster buster/Dockerfile

    - stage: build docker image for flavor buster (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh buster buster/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor trusty (onload)
      script:
      - ./docker_build_and_push_flavor.sh trusty trusty/Dockerfile

    - stage: build docker image for flavor trusty (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh trusty trusty/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor xenial (onload)
      script:
      - ./docker_build_and_push_flavor.sh trusty trusty/Dockerfile

    - stage: build docker image for flavor xenial (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh xenial xenial/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor bionic (onload)
      script:
      - ./docker_build_and_push_flavor.sh bionic bionic/Dockerfile

    - stage: build docker image for flavor bionic (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh bionic bionic/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor focal (onload)
      script:
      - ./docker_build_and_push_flavor.sh focal focal/Dockerfile

    - stage: build docker image for flavor focal (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh focal focal/Dockerfile --build-arg ONLOAD_WITHZF=1

    - stage: build docker image for flavor jammy (onload)
      script:
      - ./docker_build_and_push_flavor.sh jammy jammy/Dockerfile

    - stage: build docker image for flavor jammy (onloadzf)
      script:
      - IMAGE_NAME="onloadzf" ./docker_build_and_push_flavor.sh jammy jammy/Dockerfile --build-arg ONLOAD_WITHZF=1
